<div ng-controller="newEmployeeController" layout="column" ng-cloak="" class="chipsdemoBasicUsage" ng-app="App">
    <md-card style="width:50%;margin: auto;display: block;margin-top: 1%;">
        <md-card-content>
            <table>
                <tr>
                    <td><md-button class="md-raised md-primary" ng-click="Save()" style=" display: block;">save</md-button></td>
                    <td>
                        <span style="color: lightgreen;" ng-show="success">Added Successfully!!!</span>
                        <span style="color: red;" ng-show="error">Αn error occurred</span>
                        <span style="color: red;" ng-show="fields">Required all fields</span>
                    </td>
                </tr>
            </table>
            
            
            <md-divider></md-divider>
            <br />
            <table class="table table-striped " style="max-width:50%;margin: 0 auto 0 auto;">


                <tr>
                    <td>Surname:</td>
                </tr>
                <tr>
                    <td>
                        <md-input-container class="md-block"  aria-label="readonly field">
                            <label>Surname</label>
                            <input ng-model="surname">
                        </md-input-container>
                        
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                </tr>
                <tr>
                    <td>
                        <md-input-container class="md-block"  aria-label="readonly field">
                            <label>Name</label>
                            <input ng-model="name">
                        </md-input-container>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Skills:
                        <md-input-container>
                            <label>Add Skills</label>
                            <md-select ng-model="selectedSkills" multiple>
                                <md-option ng-value="s.name" ng-repeat="s in allSkills">
                                    {{s.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-click="newSkill($event)">
                            Add new
                            <i class="mdi mdi-plus mdi-18px"></i>
                        </md-button>
                    </td>
                </tr>
                <tr>
                    <td><md-chips ng-model="selectedSkills" readonly="true" md-removable="removable" ng-change="onModelChange(selectedSkills)"></md-chips></td>
                </tr>
                <tr>
                    <td>Hiring Date:</td>
                </tr>
                <tr>
                    <td><INPUT style="width: 100%; height: 100%; border: none;" type="date" ng-model="hiringDate" ng-readonly="true"  /></td>
                </tr>

            </table>

            <div style="margin: 0 auto 0 auto;width: max-content;" >
                <md-calendar  ng-model="hiringDate" ></md-calendar>
            </div>
            <br />
        </md-card-content>
    </md-card>


</div>