
<div ng-controller="skillDetailsController" layout="column" ng-cloak="" class="chipsdemoBasicUsage" ng-app="App">

    <md-card style="width:50%;margin: auto;display: block;margin-top: 1%;">
        <md-card-content>

            <div >
                <md-switch style="display: inline-block;margin:auto;" ng-model="switch" aria-label="Switch 6" ng-change="onSwitchChange(switch)">Edit</md-switch>

                <md-button ng-if="removable" class="md-raised md-primary" ng-click="Save()" style="display:inline-block;">save</md-button>

                <md-button class="md-fab md-warn" style="display:inline-block;" ng-click="showConfirm()">
                    <i class="mdi mdi-delete mdi-24px"></i>
                </md-button>


            </div>


            <md-divider></md-divider>
            <br />
            <table class="table table-striped " style="max-width:50%;margin: 0 auto 0 auto;">


                <tr>
                    <td>Name:</td>
                </tr>
                <tr>
                    <td>
                        <md-input-container class="md-block" ng-show="removable" aria-label="readonly field">
                            <label>Name</label>
                            <input ng-model="name">
                        </md-input-container>
                        <INPUT style="width:100%;height:100%;border: none;" type="text" ng-if="!removable" ng-readonly="true" value="{{skill.name}}" aria-label="Readonly field">
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                </tr>
                <tr>
                    <td>
                        <md-input-container class="md-block" ng-show="removable" aria-label="readonly field">
                            <label>Description</label>
                            <input ng-model="description">
                        </md-input-container>
                        <INPUT style="width:100%;height:100%;border: none;" type="text" ng-if="!removable" ng-readonly="true" value="{{skill.description}}" />
                    </td>
                </tr>
                <tr>
                    <td>Creation Date:</td>
                </tr>
                <tr>
                    <td><INPUT style="width: 100%; height: 100%; border: none;" type="text" ng-readonly="true" value="{{skill.creationDate?skill.creationDate:'-'}}" /></td>
                </tr>

            </table>

        </md-card-content>
    </md-card>

</div>
